<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
       <h2 class="text-danger">DWEC (Tienda on line con JavaScript) </h2>
    </a>  
  
       
    <select id="criteriosOrdenacion"></select>
  
    <img id="imagencarrito" src="assets/cart.png" height="60px"> 
  </nav>

  <br>
  <div id="contenedor" class="row row-cols-1 row-cols-md-6 g-4">
      <app-articulo *ngFor="let articulo of articulos" [articulo]="articulo" (borraDesdeHijo)="borrarArticulo($event)"></app-articulo>
  </div>
<router-outlet></router-outlet>
